language: python

python:
  - "3.6"

services:
  - docker

git:
  submodules: false

env:
  global:
  - AWS_ACCESS_KEY_ID=AKIAJKVFAOHM7CQFRVRA
  - secure: "z6uXZhscE5KumYRRBF8pTUXK8tMJ7OB63ZrNbtf5SNRsWUHLO6ltD/DcyxVTOiEF+I2xeqo5HjdrUmqeR0KgGwQIBXJhJ+jqIn0nSw/MqNrR5j01QBpTQsFXTp74rxB5HAnnCckoDxFlQvVYL5kk2uqsLHOfG2UY9xQyk6GCj5YXJFk69GBmhTWUdpIltZxXFW/nA0R6uCriZ+k9F8oktCzYoZICrODJr6048FbhJFbN4fpzzEY+fvWj3jhDp/F7En5ZO656iYRRkWZJgBGl2imUwSSQ5YuBw2UUq/fdii3ZozqMzJ6FrpxhiF8J+7m45wIr5OT2jb8RBiHm/1kOSVRjI06bkBo56l2YMeBG8MZJ9FWsqkxvZNJjuU2gl6WqY2vOOhGt0YIPcN68nPOFUrkyg9q5ZVWZ9OuIpqsaazj+STuIZBmko07KuaNagsv4UXwktAlBBkOO6Qd/53vdZa4n9M2dTh6ClLtfGXjX/qADtbjjtqqIZ9VxLh3bCJWmJgdhxnchKAlwDFs2ziFlgc5c4p5vN42vmkHuIG4mcap0wldvo66eOcf+mqXDO+5aq8zQ7qDZfiAVNZWL0Hacn+0vMfU6v6szKrwzDEYH4btXFuOHtea03u2G68nnxPVdkhLBmkBEp+ZM/j11gNRuU/pznTyjNQoMw8PDfUXipwg="
  - AWS_REGION=ap-southeast-1
  - APP_NAME=agent-tools-website
  - BRANCH_NAME=$TRAVIS_BRANCH
  - TIMESTAMP=$(date +%y%m%d%H%M)
  - DOCKER_USERNAME="urbanindoadmin"
  - secure: "PqM2h0N1psPnsANeIP7XiOhemkUvZ3aGQvkQsGNxJSk9NIpo38yW6THESz7nYr6LV/eZv8AkA2z45mDTcDtpA0Nq/RpVxnTYIMWJQZZyQaWX5zaOhroB4mGTRUFi+A5pAn8n3f5YOQMcQfpDVO9sq84n1eW7nUZeLGSF9KOoSkwNFo30UOQPiQWlZj+8Ahvyt1cis6Fpns7KfiJ2w8Ozq8hsDTIy9kvPtC2wWJBLy4TvIUDZN2m/WEsn3Fml0QzA+MoshC217rO/7TVHJ6GKtc5yTixdoXQ9+lTCCk949OABGYHYPeMtLhEWQerOx5+BXH1AFzotgrjLZRReHFlJl7j9TCIzlzDYJ7GXANdGNl9ef3sRcnT+lCeg7Nb2m0UMllQecWVlmoFMmgXxt25Lnrx50AyAndpmszyn/id0t6O7e8szgCiPn6mmw2xCgZtS/1mbKG7ttXAuhBGJs4Bkgl4IXuop8GfJeISjtx6jsA0UDpTnIyIVEclRakKllV1+zQmCifBE3IRvWowoIwIeqdTuebcP2ImUWXWTu3nAudTLHJrfz94kGBVryKloWkt6ItKjkhGWTSQnpa/Ax3NFEA6kJoV8b8Avw7Rg0XW5SSGiRpDuqc8mSWaEejHK1sjNiNjmOZ4zOSz6NMuvqtUjWormUBvI/RkYudoUpb+mrZo="
  
install: skip

before_script:
  - docker-compose -f ./etc/docker/production/docker-compose.yml build
  - docker-compose -f ./etc/docker/production/docker-compose.yml run --rm app npm install

script:
  - ./run-test.sh

before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build --rm . -t urbanindo/urbanindov2-apps:${APP_NAME}.${TIMESTAMP}
  - docker push urbanindo/urbanindov2-apps:${APP_NAME}.${TIMESTAMP}

deploy:
  - provider: script
    script: etc/deploy/deploy_ecs.sh $APP_NAME
    skip_cleanup: true
    on:
      all_branches: true
