/**
 * GLobal Color Variable
 */

$color-general: (
    white: #fff,
    primary: #355ae3,
    secondary: #be7d00,
    heading: #1b3b52,
    secondary-heading: #3e4246,
    feature: #4e4e4e,
    text: #2c2c2c,
    error: #f2545b,
    text-light: rgba(#3e4246, 0.5),
    border: #ddd,
    border-light: #dedede,
    table-field: #f7f8f9,
    table-heading: #ececec,
    table-heading-border: #e9e9e9,
    background-body: #f5f5f7,
    background-light: #fbfbfb,
    border-lightest: rgba(0, 0, 0, 0.14),
    grey-dark: #999999,
    grey: rgba(#1b3b52, 0.5),
    success-green: #28c76f
);
