@import '@/scss/import.scss';

.ui-pages-brute-force {
    align-items: flex-start;
    justify-content: space-between;

    > div {
        @include margin(all, 0 10px);
    }

    &__content {
        flex-wrap: wrap;
        flex: 0 0 calc(100% - 310px);
        max-width: calc(100% - 310px);

        &__item {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            @include background-color(white);
            @include rounded(5px);
            @include box-shadow-multi(0 1px 5px 0 rgba(black, 0.05));
            @include transition(0.3s cubic-bezier(0.7, 0.3, 0, 1));

            &:hover {
                @include box-shadow-multi(0 4px 8px 0 rgba(black, 0.15));
            }
        }
    }

    &__graph {
        overflow: hidden;
        flex: 0 0 300px;
        max-width: 300px;
        align-items: center;
        justify-content: center;

        @include rounded(5px);
        @include background-color(white);
    }

    &__svg {
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;

            @include transform-translate(-50%, -50%);
        }

        &::before {
            width: 1px;
            height: 100%;

            @include border-left(1px, dashed, #ddd);
        }

        &::after {
            height: 1px;
            width: 100%;

            @include border-bottom(1px, dashed, #ddd);
        }

        svg {
            -webkit-transform: rotate(180deg) scaleX(-1);
            -moz-transform: rotate(180deg) scaleX(-1);
            -ms-transform: rotate(180deg) scaleX(-1);
            transform: rotate(180deg) scaleX(-1);
        }
    }

    &__footer {
        &__sub-item {
            justify-content: space-between;

            .ui-atomic-edit-text {
                flex: 0 0 calc(50% - 5px);
                max-width: calc(50% - 5px);
            }
        }
    }
}
