@import '@/scss/import.scss';

.ui-molecules-triangle {
    justify-content: center;
    width: 100%;

    @include padding-bottom(40px);

    &__svg {
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;

            @include transform-translate(-50%, -50%);
        }

        &::before {
            width: 1px;
            height: 100%;

            @include border-left(1px, dashed, #ddd);
        }

        &::after {
            height: 1px;
            width: 100%;

            @include border-bottom(1px, dashed, #ddd);
        }
    }

    svg {
        -webkit-transform: rotate(180deg) scaleX(-1);
        -moz-transform: rotate(180deg) scaleX(-1);
        -ms-transform: rotate(180deg) scaleX(-1);
        transform: rotate(180deg) scaleX(-1);
    }

    &__option {
        bottom: 10px;
        left: 10px;

        &__item {
            cursor: pointer;
            opacity: 0.5;

            @include padding(all, 0 10px);
            @include transition(0.3s cubic-bezier(0.7, 0.3, 0, 1));

            &:hover {
                opacity: 0.75;
            }

            &--active,
            &--active:hover {
                opacity: 1;
            }
        }

        &__indicator {
            width: 15px;
            height: 15px;

            @include rounded(5px);
            @include margin-right(5px);
        }
    }
}
